@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100;1,400;1,500&family=Varela+Round&display=swap');
/* font-family: 'Poppins', sans-serif; 
font-family: 'Sen', sans-serif;

*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;  
    /* overflow-x: hidden;  */
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}
.nav-container{
    display: flex;
    align-items: center;
    /* background-color: blanchedalmond; */
    padding:  0 50px;
    color:white ;
    height: 100%;
}
.logo-container{
    flex: 1;
    /* background-color: crimson; */
}
.logo{
    font-family: 'Sen', sans-serif;
    font-size:30px ;
    color: crimson;
    cursor: pointer;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item:hover{
    color: crimson;
    cursor: pointer;

}
.menu-list-item{
    margin-left: 30px;
}
.menu-list-item .active{
    font-weight:bold ;
}
.menu-container{
    flex:6;
    /* background-color: pink; */
}
.profile-container{
    flex:2;
    display: flex;
    align-items: center;
    /* background-color: green; */
    justify-content: flex-end;
    /* background-color: brown; */
}
.profile-text-container{
    margin: 0 20px;

}
.toggle{
width: 40px;
height: 20px;
background-color: white;
border-radius:30px ;
display: flex;

align-items: center;
justify-content: space-around;
position: relative;
}
.toggle-icon{
    color: rgb(255, 217, 0);
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius:50% ;
    cursor: pointer;
    transition: 0.5s ease all;
}
.sidebar{
    width: 50px;
    height: 100vh;
background-color: black;
position: fixed;
top: 0;
display: flex;
flex-direction: column;
padding-top: 60px;
align-items: center;
/* justify-content:space-around ; */
}
.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom:40px ;

}
.left-menu-icon:hover{
    color: crimson;
    cursor: pointer;
}
.container{
    background-color: rgb(24, 24, 24);
    min-height: calc(100vh - 50px);
    color: white;
}
.content-container{
    margin-left:50px ;
}
.featured-content{
    height: 50vh;
    padding: 50px;

}
.featured-title{
    width: 200px;
}

.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}
.featured-button{
background-color: crimson;
color: white;
padding: 10px 20px;
border-radius: 12px;
border: none;
outline: none;
font-weight: bold;
cursor: pointer;
}
.featured-button:hover{
    background-color: antiquewhite;
    color: red;
}
.movie-list-container{
    padding:0 20px;
}
.movie-list-wrapper{
    position: relative;
 overflow: hidden;
}
.movie-list{
    display: flex;
    height: 300px;
    align-items: center;
    transform: translateX(0);
    transition: all 1s ease-in-out ;
}


.movie-list-item{
    margin: 30px;
    position: relative;
  
    /* transition: all 1s ease-in-out; */
}


.movie-list-item:hover .movie-list-item-img{
transform: scale(1.2);
margin: 0 30px;
opacity: 0.5;
} 
.movie-list-item:hover .movie-list-item-title, .movie-list-item:hover .movie-list-item-desc, .movie-list-item:hover .movie-list-item-button{
opacity: 1
;
}
.movie-list-item-img{
    width: 227px;
object-fit: cover;
    height: 210px;
    transition: all 1s ease-in-out;
    border-radius:32px;
}
.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    border-radius: 10px;
    left: 50px;
opacity: 0;
transition: 1s all ease-in-out;
}
.movie-list-item-desc{
    transition: 1s all ease-in-out;
background-color: #333;
padding: 5px;
font-size: 11px;
font-weight: bold;
position: absolute;
top: 30%;
left: 50px;
opacity: 0;
width: 227px;
border-radius: 10px;
}
.movie-list-item-button{
    padding: 10px;
    background-color:crimson ;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
cursor: pointer;
position: absolute;
bottom: 7px;
left: 50px;
opacity: 0;
}
.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    /* background-color: beige; 
    */
    right: 0;
    color: lightgray;
    opacity: .5;
    cursor: pointer;
}
.container.active{
    background-color: white;
}
.movie-list-item-title.active{
    color: black;
}

.movie-list-title.active{
    color: black;
}
.nav-container.active{
    background-color: white;
    color: black;
}
.sidebar.active{
    background-color: white;
}
.left-menu-icon.active{
    color: #000;
}
.toggle.active{
    background-color: wheat;
}
.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}
@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
    .featured-desc {
        width: 275px;
        color: lightgray;
        margin: 30px 0;
    }

}